<!-- Toolbar -->
<nav class="navbar navbar-dark bg-dark">
  <p class="nav_content">Clinic</p>
</nav>

<!-- Sidebar -->
<div>
  <div class="row">
    <div class="col-sm-3" >
      <ng-sidebar-container>
        <ng-sidebar [opened]="opened">
          <p (click)="page('details')">Near me</p><br>
          <p (click)="page('stats')">Stats</p><br>
          <p (click)="page('messages')">Messages</p><br>
        </ng-sidebar>
        <div ng-sidebar-content>
          <button (click)="toggleSidebar()">Open Sidebar</button>
        </div>
      </ng-sidebar-container>
    </div>
    <div class="col-sm-9">
      <app-details *ngIf="which_page=='details'"></app-details>
      <app-stats *ngIf="which_page=='stats'"></app-stats>
      <app-messages *ngIf="which_page=='messages'"></app-messages>  
    </div>
  </div>
</div>

<div class="content" role="main">

  <!-- Footer -->
  <footer>
      Made with <img src="assets/heart.png" width="20px" height="20px">
  </footer>

</div>

<router-outlet></router-outlet>