<!-- Toolbar -->
<nav class="navbar navbar-dark bg-dark">
  <p style="color: aliceblue; margin: initial;">Clinic</p>
</nav>

<!-- Sidebar -->
<ng-sidebar-container>
  <ng-sidebar [opened]="opened">
    <ul>
      <li>Near me</li>
      <li>Graphs</li>
      <li></li>
    </ul> 
  </ng-sidebar>
  <div ng-sidebar-content>
    <button (click)="toggleSidebar()">Open Sidebar</button>
  </div>
</ng-sidebar-container>

<div class="content" role="main">

  <!-- Footer -->
  <footer>
      Made with <img src="assets/heart.png" width="20px" height="20px">
  </footer>

</div>

<router-outlet></router-outlet>