<div class="filters">
    <select name="distance" class="filters">
        <!-- foreach  -->
        <option>1 km</option>
    </select>

    <select name="status" class="filters">
        <option>Open</option>
    </select>

    <select name="clinic_type" class="filters">
        <option>General</option>
    </select>
</div>

<div class="details">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Clinic name</th>
                <th>Doctor name</th>
                <th>Status</th>
                <th>Ph. number</th>
                <th>Address</th>
                <th>Clinic type</th>
                <th>Distance</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td></td>
          </tr>
        </tbody>
      </table>
</div>