<div class="filters">

    <select name="distance" class="filters">
        <option *ngFor="let info of distances;">{{info}}</option>
    </select>

    <select name="status" class="filters">
        <option *ngFor="let info of status;">{{info}}</option>
    </select>

    <select name="clinic_type" class="filters">
        <option *ngFor="let info of clinic_types; index as i; trackBy: get_clinic_types">{{info}}</option>
    </select>
</div>

<div class="details">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Clinic name</th>
                <th>Clinic type</th>
                <th>Status</th>
                <th>Ph. number</th>
                <th>Address</th>
                <th>Distance</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of clinic_info | paginate: {itemsPerPage:5, currentPage: p}; index as i; trackBy: get_clinic_info">
            <td *ngFor="let i of row">{{i}}</td>
            <td><button class="btn btn-primary">Contact</button></td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>